body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#table-container {
    height: 70vh;
    width: 80vh;
    margin-top: 100px;
    border: 2px solid black;
}

#library-table,
#library-table th,
#library-table td {
    border: 1px solid black;
}

#library-table {
    height: 100%;
    width: 100%;
}

#book-entries td {
    text-align: center;
    font-size: 1.5em;
    height: calc(100% / 5);
    width: calc(100% / 5);
}

#open-modal {
    text-align: center;
    height: 75px;
    width: 150px;
    font-size: 1.1em;
    font-weight: bold;
}

#book-modal {
    display: none;
    font-size: 32px;
}

#book-modal input {
    font-size: 32px;
}

#book-modal button {
    font-size: 24px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}